body {
  background-color: black;
  overflow: hidden;
}

/*pixel font*/
.font {
  font-family: 'Common Pixel', sans-serif;
  color: white;
}
/*end*/

/*INDEX*/
/* 'mini-game mayhem text - index'*/
.indexTitle {
  font-size: 100px;
  position: absolute;
  top: 185px;
  left: 8px;
  z-index: 11;
}
/*end*/

/*top grid - index*/

.GameLibBack {
  background-color: lime;
  height: 20px;
  width: 175px;
  position: absolute;
  top: 5px;
  left: 627px;
  font-size: 25px;
}

.GameLibBackBTN {
  position: absolute;
  height: 20px;
  width: 175px;
  bottom: 0px;
  left: 0px;
  background-color: transparent;
}

.gridRow1 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 5px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;
}

.gridRow2 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 65px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow3 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 125px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow4 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 185px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow5 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 245px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow6 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 305px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow7 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 365px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow8 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 425px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow9 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 485px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow10 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 545px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow11 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 605px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow12 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 665px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridRow13 {
  width: 1500px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 5px;
  top: 725px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}


.gridColumn1 {
  width: 20px;
  height: 1000px;
  background-color: red;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridColumn2 {
  width: 20px;
  height: 1000px;
  background-color: red;
  position: absolute;
  top: 5px;
  left: 205px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridColumn3 {
  width: 20px;
  height: 1000px;
  background-color: red;
  position: absolute;
  top: 5px;
  left: 405px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridColumn4 {
  width: 20px;
  height: 1000px;
  background-color: red;
  position: absolute;
  top: 5px;
  left: 605px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridColumn5 {
  width: 20px;
  height: 1000px;
  background-color: red;
  position: absolute;
  top: 5px;
  left: 805px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridColumn6 {
  width: 20px;
  height: 1000px;
  background-color: red;
  position: absolute;
  top: 5px;
  left: 1005px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridColumn7 {
  width: 20px;
  height: 1000px;
  background-color: red;
  position: absolute;
  top: 5px;
  left: 1205px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

.gridColumn8 {
  width: 20px;
  height: 1000px;
  background-color: red;
  position: absolute;
  top: 5px;
  left: 1405px;
  box-shadow: 0 0 20px 3px red;
  z-index: -2;

}

/*play button/arrow on index*/
.playBTN {
  position: absolute;
  right: 20px;
  top: 207px;
  width: 0;
	height: 0;
  background-color: transparent;
	border-top: 175px solid transparent;
	border-left: 300px solid yellow;
	border-bottom: 175px solid transparent;
  border-right: solid transparent;
  z-index: 12;
}

.ArrowLine {
  position: absolute;
  left: 5px;
  top: 355px;
  height: 53px;
  width: 1320px;
  background-color: yellow;
  box-shadow: 0 0 100px 12px yellow;
  z-index: 10;
}
/*end*/
.pugBTN {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: beige;
  opacity: 0.25;
}


/*lighting for arrow point - index*/
.lightingArrowTop {
  position: absolute;
  right: 30px;
  top: 317px;
  transform: rotate(30deg);
  height: 5px;
  width: 280px;
  background-color: yellow;
  box-shadow: 0 0 100px 12px yellow;
}

.lightingArrowMidUp {
  position: absolute;
  right: 310px;
  top: 250px;
  height: 75px;
  width: 5px;
  background-color: yellow;
  box-shadow: 0 0 100px 12px yellow;
}

.lightingArrowMidDown {
  position: absolute;
  right: 310px;
  top: 450px;
  height: 75px;
  width: 5px;
  background-color: yellow;
  box-shadow: 0 0 100px 12px yellow;
}

.lightingArrowBottom {
  position: absolute;
  right: 25px;
  top: 460px;
  transform: rotate(-30deg);
  height: 5px;
  width: 310px;
  background-color: yellow;
  box-shadow: 0 0 100px 12px yellow;
}
/*end*/

.lineSlider1 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
	top: 0;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide1 1.8s infinite;
}


@keyframes lineSlide1 {
  0% {
    left: 25px;
    top: 29px;
  }
  50% {
    left: 1400px;
    top: 29px;
  }
  100% {
    left: 25px;
    top: 29px;
  }
}

.lineSlider2 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
	top: 0;
  z-index: -1;

  x-transition: all 1s ease-in-out;
  animation: lineSlide2 2.3s infinite;
}


@keyframes lineSlide2 {
  0% {
    left: 1400px;
    top: 64px;
  }
  50% {
    left: 25px;
    top: 64px;
  }
  100% {
    left: 1400px;
    top: 64px;
  }
}

.lineSlider3 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
	top: 0;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide3 2.8s infinite;
}


@keyframes lineSlide3 {
  0% {
    left: 25px;
    top: 99px;
  }
  50% {
    left: 1400px;
    top: 99px;
  }
  100% {
    left: 25px;
    top: 99px;
  }
}

.lineSlider4 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
	top: 0;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide4 2s infinite;
}


@keyframes lineSlide4 {
  0% {
    left: 1400PX;
    top: 134px;
  }
  50% {
    left: 25px;
    top: 134px;
  }
  100% {
    left: 1400px;
    top: 134px;
  }
}

.lineSlider5 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide5 1.8s infinite;
}


@keyframes lineSlide5 {
  0% {
    left: 1400PX;
    top: 178px;
  }
  50% {
    left: 25px;
    top: 178px;
  }
  100% {
    left: 1400px;
    top: 178px;
  }
}

.lineSlider6 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide6 2.9s infinite;
}


@keyframes lineSlide6 {
  0% {
    left: 1400PX;
    top: 223px;
  }
  50% {
    left: 25px;
    top: 223px;
  }
  100% {
    left: 1400px;
    top: 223px;
  }
}

.lineSlider7 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide7 2.6s infinite;
}


@keyframes lineSlide7 {
  0% {
    left: 1400PX;
    top: 268px;
  }
  50% {
    left: 25px;
    top: 268px;
  }
  100% {
    left: 1400px;
    top: 268px;
  }
}

.lineSlider8 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide8 0.9s infinite;
}


@keyframes lineSlide8 {
  0% {
    left: 1400PX;
    top: 313px;
  }
  50% {
    left: 25px;
    top: 313px;
  }
  100% {
    left: 1400px;
    top: 313px;
  }
}

.lineSlider9 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
	top: 0;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide9 2s infinite;
}


@keyframes lineSlide9 {
  0% {
    left: 25px;
    top: 359px;
  }
  50% {
    left: 1400px;
    top: 359px;
  }
  100% {
    left: 25px;
    top: 358px;
  }
}

.lineSlider10 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
	top: 0;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide10 1.4s infinite;
}


@keyframes lineSlide10 {
  0% {
    left: 1400px;
    top: 403px;
  }
  50% {
    left: 25px;
    top: 403px;
  }
  100% {
    left: 1400px;
    top: 403px;
  }
}

.lineSlider11 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
	top: 0;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide11 2.3s infinite;
}


@keyframes lineSlide11 {
  0% {
    left: 25px;
    top: 448px;
  }
  50% {
    left: 1400px;
    top: 448px;
  }
  100% {
    left: 25px;
    top: 448px;
  }
}

.lineSlider13 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
	top: 0;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide13 1.2s infinite;
}


@keyframes lineSlide13 {
  0% {
    left: 1400PX;
    top: 493px;
  }
  50% {
    left: 25px;
    top: 493px;
  }
  100% {
    left: 1400px;
    top: 493px;
  }
}

.lineSlider14 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide14 1.8s infinite;
}


@keyframes lineSlide14 {
  0% {
    left: 1400PX;
    top: 538px;
  }
  50% {
    left: 25px;
    top: 538px;
  }
  100% {
    left: 1400px;
    top: 538px;
  }
}

.lineSlider15 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide15 2.9s infinite;
}


@keyframes lineSlide15 {
  0% {
    left: 1400PX;
    top: 583px;
  }
  50% {
    left: 25px;
    top: 583px;
  }
  100% {
    left: 1400px;
    top: 583px;
  }
}

.lineSlider16 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide16 1.1s infinite;
}


@keyframes lineSlide16 {
  0% {
    left: 1400PX;
    top: 628px;
  }
  50% {
    left: 25px;
    top: 628px;
  }
  100% {
    left: 1400px;
    top: 628px;
  }
}

.lineSlider17 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide17 1.3s infinite;
}


@keyframes lineSlide17 {
  0% {
    left: 1400PX;
    top: 673px;
  }
  50% {
    left: 25px;
    top: 673px;
  }
  100% {
    left: 1400px;
    top: 673px;
  }
}

.lineSlider18 {
  position: absolute;
  left: 0;
  background-color: #F000FF;
  width: 80px;
  height: 3px;
  display: block;
  z-index: -1;


  x-transition: all 1s ease-in-out;
  animation: lineSlide18 1.4s infinite;
}


@keyframes lineSlide18 {
  0% {
    left: 1400PX;
    top: 718px;
  }
  50% {
    left: 25px;
    top: 718px;
  }
  100% {
    left: 1400px;
    top: 718px;
  }
}
/*END OF INDEX*/

.welcomeTo{
  font-size: 30px;
  position: absolute;
  text-align: justify;
  top: 35px;
  left: 525px;
  z-index: 1;
}

.gameLibTitle {
  font-size: 50px;
  position: absolute;
  text-align: justify;
  top: 145px;
  left: 400px;
  z-index: 1
}

.GameBox1 {
  position: absolute;
  top: 5px;
  text-align: center;
  height: 759px;
  width: 300px;
  background-color: #F000FF;
  z-index: 10;
}

.GameBoxBTN1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 759px;
  background-color: transparent;
  z-index: 11;
}

.GameBox2 {
  position: absolute;
  top: 255px;
  left: 360px;
  text-align: center;
  height: 509px;
  width: 715px;
  background-color: #4E32FF;
  z-index: 10;
}

.GameBoxBTN2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 715px;
  height: 509px;
  background-color: transparent;
  z-index: 11;
}

.GameBox4 {
  position: absolute;
  left: 1140px;
  top: 5px;
  text-align: center;
  height: 759px;
  width: 300px;
  background-color: #FF8F00;
  z-index: 10;
}

.GameBoxBTN4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 759px;
  background-color: transparent;
  z-index: 11;
}

/*THRASHY AVE*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
}

.background {
	height: 100vh;
	width: 100vw;
	background-color: black;
  z-index: -10;
}

.bird {
	height: 120px;
	width: 75px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
  transform: scaleX(-1);
}

.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 75vh;
	width: 6vw;
	background-color: #F000FF;
  box-shadow: 0 0 100px 2px #F000FF;
}

.message {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	top: 12vh;
	left: 7vw;
	text-align: center;
}

.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
  font-family: 'Common Pixel', sans-serif;
	top: 20px;
	left: 0;
}

.score_val {
	color: white;
  font-family: 'Common Pixel', sans-serif;
}

.birdBack {
  background-color: lime;
  height: 20px;
  width: 290px;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 25px;
  font-family: 'Common Pixel', sans-serif;
  z-index: 10;
}

.birdBackBTN {
  position: absolute;
  height: 20px;
  width: 290px;
  bottom: 0px;
  left: 0px;
  background-color: transparent;
  z-index: 10;
}
